{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div>Accueil</div>

	<a href="{{ path('app_register') }}">Inscription</a>
	<a href="{{ path('app_login') }}">Connexion</a>
	{% if app.user %}
		<a href="{{ path('app_account') }}">Compte</a>
	{% endif %}
	<a href="{{path('admin') }}">Administration</a>

{% endblock %}
