{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div>
		<h1>Produits par catégorie
			{{ category.name }}
		</h1>

		{% for product in category.products %}
			{% include "include/product.html.twig" %}
		{% endfor %}
	</div>
{% endblock %}
