{% extends 'base.html.twig' %}

{% block title %}Recherche produits
{% endblock %}

{% block body %}
	<div>
		<h1>Recherche produits</h1>
		<section class="section-formulaire">
			{% include "include/formulaire-product.html.twig" %}
		</section>

		{% if products is empty %}
			<p>Désolé. Aucun de nos produits ne correspond à ce mot-clé.</p>
		{% else %}
			<div class="row row-cols-1 row-cols-md-3 g-4">
				{% for product in products %}
					<a href="{{ path('product', {'slug':product.slug}) }}">
						{% include "include/product.html.twig" %}
					</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
