/** CARTE PRODUIT **/
.btn-voir-fiche-produit {
  text-transform: none !important;
  font-size: 15.5px !important;
  font-weight: normal !important;
  background-color: var(--third) !important;
  color: var(--fourth) !important;
}
.h5-product-price {
  margin-top: -45px;
}
.card-img-product {
  height: 270px !important;
}
.card-btn-product-price {
  font-size: 15.5px !important;
  letter-spacing: 0.5px !important;
  color: var(--main) !important;
}

/** FORM PRODUITS **/
.section-formulaire {
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.section-formulaire-produits {
  /* width: 32.3%; */
  border-radius: 5px;
  background-color: var(--third);

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 23px;
  margin-bottom: 35px;

  /* display: flex;
  justify-content: space-between; */
}
.btn-form-category-name {
  text-transform: none !important;
  font-size: 15.5px !important;
  font-weight: normal !important;
}
.form-category-right {
  color: var(--third) !important;
}

.section-affichage-produits {
  padding-left: 100px !important;
  padding-right: 100px !important;
}
/** SECTION BEST-SELLER **/
.section-best-seller {
  /* background-color: var(--third) !important; */
  padding: 40px;
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.best-seller-section-title {
  text-align: center;
  color: var(--third) !important;
}

/** OFFRES SPECIALES **/
.section-offres-speciales {
  background-image: linear-gradient(
    135deg,
    #fff 25%,
    #fbfbfb 25%,
    #fbfbfb 50%,
    #fff 50%,
    #fff 75%,
    #fbfbfb 75%,
    #fbfbfb 100%
  );
  background-size: 15px 15px;
  background-color: #f8f9fa;
}
.section-title-offres-speciales {
  border-radius: 5px;
  padding: 30px;
  padding-bottom: 20px !important;

  margin-top: -100px !important;
}
.titre-offres-speciales {
  color: var(--main);
  font-size: 25px !important;
}
.span-titre-offres-speciales {
  color: var(--third) !important;
  font-weight: bold !important;
}
#div-center-offres-speciales {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
  padding-top: 45px;
}

/** PAGE PRODUIT **/
.fa-seedling {
  color: var(--second) !important;
}
.img-product-individual {
  border-radius: 5px !important;
}
.section-droite-page-produit {
  padding: 25px;
  border-radius: 5px !important;
}
.last-price-carte-produit {
  text-decoration: line-through;
  text-decoration-color: #e7b07c;
  text-decoration-thickness: 2px;
  font-size: 25px;
}
.icon-right-reduction {
  color: var(--third);
}
.btn-review-note {
  background-color: var(--third) !important;
  color: var(--fourth) !important;
  font-size: 14px !important;
  font-weight: normal !important;
  letter-spacing: 1px !important;
}
#div-center-page-produit {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
  padding-top: 60px;
}
