/** CARTE PRODUIT **/
.btn-voir-fiche-produit {
  text-transform: none !important;
  font-size: 15.5px !important;
  font-weight: normal !important;
  background-color: var(--third) !important;
  color: var(--fourth) !important;
}
.h5-product-price {
  margin-top: -45px;
}
.card-img-product {
  height: 270px !important;
}
.card-btn-product-price {
  font-size: 15.5px !important;
  letter-spacing: 0.5px !important;
  color: var(--main) !important;
}

/** FORM PRODUITS **/
.section-formulaire-produits {
  /* width: 32.3%; */
  border-radius: 5px;
  background-color: var(--third);

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 23px;
  margin-bottom: 35px;

  /* display: flex;
  justify-content: space-between; */
}
.btn-form-category-name {
  text-transform: none !important;
  font-size: 15.5px !important;
  font-weight: normal !important;
}
.form-category-right {
  color: var(--third) !important;
}
