{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<div>
		<h4>Tous les articles de
			{{ articlesCategorie.name }}
		</h4>

		{% include "include/article.html.twig" %}

		<div class="navigation">
			{{ knp_pagination_render(articles) }}
		</div>
	</div>
{% endblock %}
