{% extends 'base.html.twig' %}

{% block title %}Nous contacter
{% endblock %}

{% block body %}
	<div class="container form-contact">

		<br><br><br>
		{% include "include/formContact.html.twig" %}
	</div>
{% endblock %}
