{% extends 'base.html.twig' %}

{% block title %}Paiement échoué
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card shadow">
					<div class="card-body text-center">
						<h1 class="mb-4">Paiement échoué</h1>
						<p class="lead mb-4">Votre paiement n'a pas été validé. Veuillez réessayer ou contacter notre service client pour plus d'informations.</p>
						<a href="{{ path('app_home') }}" class="btn btn-voir-fiche-produit">Retourner sur le site</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
